parameters:
	ignoreErrors:
		-
			message: '#^Method TooInfinity\\InertiaDataTables\\DataTable\:\:handle\(\) should return TooInfinity\\InertiaDataTables\\DataTableResult\<TModel of Illuminate\\Database\\Eloquent\\Model\> but returns TooInfinity\\InertiaDataTables\\DataTableResult\<Illuminate\\Database\\Eloquent\\Model\>\.$#'
			identifier: return.type
			count: 1
			path: src/DataTable.php

		-
			message: '#^Parameter \#1 \$query of method TooInfinity\\InertiaDataTables\\Processing\\QueryProcessor\<Illuminate\\Database\\Eloquent\\Model\>\:\:process\(\) expects Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Database\\Query\\Builder, Illuminate\\Database\\Eloquent\\Builder\<TModel of Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Database\\Query\\Builder given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataTable.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: src/DataTableRequest.php

		-
			message: '#^Method TooInfinity\\InertiaDataTables\\InertiaDataTables\:\:query\(\) should return TooInfinity\\InertiaDataTables\\DataTable\<TModel of Illuminate\\Database\\Eloquent\\Model\> but returns TooInfinity\\InertiaDataTables\\DataTable\<Illuminate\\Database\\Eloquent\\Model\>\.$#'
			identifier: return.type
			count: 1
			path: src/InertiaDataTables.php

		-
			message: '#^Parameter \#1 \$query of static method TooInfinity\\InertiaDataTables\\DataTable\<Illuminate\\Database\\Eloquent\\Model\>\:\:query\(\) expects Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Database\\Query\\Builder, Illuminate\\Database\\Eloquent\\Builder\<TModel of Illuminate\\Database\\Eloquent\\Model\>\|Illuminate\\Database\\Query\\Builder given\.$#'
			identifier: argument.type
			count: 1
			path: src/InertiaDataTables.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/Processing/QueryProcessor.php

		-
			message: '#^Method TooInfinity\\InertiaDataTables\\Processing\\QueryProcessor\:\:process\(\) should return TooInfinity\\InertiaDataTables\\DataTableResult\<TModel of Illuminate\\Database\\Eloquent\\Model\> but returns TooInfinity\\InertiaDataTables\\DataTableResult\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Processing/QueryProcessor.php

		-
			message: '#^Method TooInfinity\\InertiaDataTables\\Processing\\QueryProcessor\:\:resolvePerPage\(\) should return int but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Processing/QueryProcessor.php

		-
			message: '#^Parameter \#2 \$direction of method Illuminate\\Database\\Eloquent\\Builder\<TModel of Illuminate\\Database\\Eloquent\\Model\>\:\:orderBy\(\) expects ''asc''\|''desc''\|SortDirection, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Processing/QueryProcessor.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: src/Searching/SearchCollection.php